* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline-style: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #505050;
  font-family: "Helvetica Neue", helvetica;
 }

.clear {
   clear: both;
 }

 .container {
   width: 994px;
   margin: auto;
   /*box-shadow: 1px 1px 1px  #606060;*/
 }

 header {
   margin-left: 47px;
   margin-right: 47px;
   margin-top: 50px;
   margin-bottom: 25px;
 }

 .gris {
   color: #505050;
 }

 h1 {
   font-family: "Terminal Dosis";
   font-size: 52px;
   width: 862px;
   display: inline-block;
 }

 main h2 {
   margin-top: 38px;
   text-align: center;
   font-family: "Terminal Dosis";
   font-size: 28px;
 }

.loupe {
  display: inline-block;
  width: 34px;
  height: 22px;
}

 .menu {
   margin-top: 25px;
   background-color: #F4F4F4;
   height: 59px;
   padding-top: 22px;
   padding-bottom: 22px;
 }

  header li {
    list-style-type: none;
    width: 150px;
    text-align: center;
    float: left;
  }

   header li a {
    text-decoration: none;
  }

 main {
   margin-left: 47px;
   margin-right: 47px;
 }

 .image1 {
   width: 900px;
   height: 508px;
 }

  .sstitre {
    color: grey;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 30px;
  }

   .sstitre a {
     text-decoration: none;
   }

 main p {
   margin-bottom: 30px;
   color: #505050;
 }

 .sep {
   height: 40px;
   background-color: #FAFAFA;
 }

  footer {
    margin-left: 47px;
    margin-right: 47px;
    margin-bottom: 20px;
  }

 .titre-footer {
   color: #505050;
   height: 75px;
   text-align: center;
   padding:31px 0 31px 0;
 }

  footer li {
    list-style-type: none;
  }

   footer li a {
     text-decoration: none;
     color: black;
   }

   footer div {
     color: #505050;
     width: 25%;
     height: 235px;
     background-color: #FAFAFA;
     float: left;
     padding-left: 10px;
   }

   footer div h2 {
     margin: 10px 0 10px 0px;
   }
