* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline-style: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #505050;
  font-family: "Helvetica Neue", helvetica;
}
.clear {
  clear: both;
}
body {
  background-image: url(img/bg.png);
}
.container {
  width: 994px;
  margin: auto;
  background-color: white;
  border: 1px solid #505050;
  box-shadow: 1px 1px 10px #505050;
  margin-top: 30px;
  padding-top: 50px;
}
header {
  margin-left: 47px;
  margin-right: 47px;
  margin-bottom: 25px;
}
.gris {
  color: #505050;
}
h1 {
  font-family: "Terminal Dosis";
  font-size: 52px;
  width: 860px;
  display: inline-block;
}
main h2 {
  margin-top: 38px;
  text-align: center;
  font-family: "Terminal Dosis";
  font-size: 28px;
}
.loupe {
  display: inline-block;
  width: 22px;
  height: 22px;
}
nav ul {
  list-style-type: none;
  text-align: center;
}
nav li {
 width: 148px;
 height: 42px;
 float:left;
 }
 nav li a {
 display:block;
 text-decoration:none;
 }
 nav ul li ul {
 display:none;
 }
 nav ul li:hover ul {
 display:block;
 }
 nav li:hover ul li {
 float:none;
 }
 nav li ul {
 position:relative;
 }
.menu {
  margin-top: 25px;
  background-color: #F4F4F4;
  height: 59px;
  padding-top: 22px;
  padding-bottom: 22px;
}
.ssmenu li{
  border-top: 1px solid #505050;
  height: 33px;
  padding: 9px 0;
  background-color: #F4F4F4;
}
.ssmenu {
  margin-top: 22px
}
main {
  margin-left: 47px;
  margin-right: 47px;
}
.image1 {
  width: 900px;
  height: 508px;
}
.sstitre {
  color: grey;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 30px;
}
.sstitre a {
  text-decoration: none;
}
main p {
  margin-bottom: 30px;
  color: #505050;
}
.sep {
  height: 40px;
  background-color: #FAFAFA;
}
footer {
  height: 330px;
  margin-left: 47px;
  margin-right: 47px;
  margin-bottom: 20px;
}
.titre-footer {
  color: #505050;
  height: 75px;
  text-align: center;
  padding: 31px 0 31px 0;
}
footer li {
  list-style-type: none;
}
footer li a {
  text-decoration: none;
  color: black;
}
footer div {
  color: #505050;
  width: 25%;
  height: 235px;
  background-color: #FAFAFA;
  float: left;
  padding-left: 10px;
}
footer div h2 {
  margin: 10px 0 10px 0px;
}
